@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
}

:root {
  --mainColor: #3f1052;
}

body {
  background-color: var(--mainColor);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.table-players {
  width: 500px;
  transform: scale(1.5);
}

.soccer-row {
  display: flex;
  position: relative;
  background-color: #fff;
  align-items: center;
  align-content: center;
  color: black;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 4px;
  min-width: 250px;
  height: 42px;
  margin: 10px;
  opacity: 0;
  transition: 0.4s;
  animation: fadeIn 2s forwards;
}

.rank {
  color: #3f1052;
}

.soccer-row:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.player-name {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
  display: flex;
  justify-content: flex-start;
  width: 120px;
  margin-left: 10px;
}

.player-img {
  border-radius: 50%;
  width: 40px;
  background-color: #fff;
}
.player-team {
  width: 25px !important;
  height: 25px !important;
}

.player-nation-team {
  width: 25px !important;
  height: 25px !important;
}

h2 {
  font-size: 25px;
}

.white-logo {
  width: 150px;
}

.Loading {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  transition: 0.4s;
  justify-content: space-around;
  align-items: center;
}

.Loading img {
  width: 250px;
  height: 250px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {

  .App-header{
    justify-content: flex-start;
    overflow: hidden;

  }
  .table-players {
    width: 500px;
    transform: scale(0.8);
  }
}
